# Exclude Strapi build outputs
# These are for the admin font-end which is deployed to Firebase Hosting
# so we dont wan't them in the Cloud Run image
admin/
build/
.cache/
.temp/
.strapi-updater.json

# Exclude environment variables because we set variables using Cloud Run
.env

# Don't serve uploads from Cloud Run because we use Cloud Storage
public/uploads/

# Firebase exclusions
firebase.json
.firebaserc
.firebase/
*.rules

# Other exclusions
node_modules
*-debug.log
.dockerignore
.git
.gitignore
.gcloudignore

# Edit this to exclude your dev service account keys
# because Cloud Run supports default credentials
#key.json
